<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wickedwitchwarsaw.udacitynanodegreetourguideapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_warsaw"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoricalActivity"
            android:label="Historical Monuments" />
        <activity
            android:name=".RestaurantsActivity"
            android:label="Restaurants" />
        <activity
            android:name=".PhrasesActivity"
            android:label="Useful Phrases" />
        <activity
            android:name=".EventsActivity"
            android:label="Tourist Attractions" />
    </application>

</manifest>